---
import '@fontsource-variable/nunito-sans';
import i18next, { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';
import Navbar from '../components/Navbar.astro';

export const prerender = true;
export interface Props {
	title: string;
	description: string;
	favicon?: string;
	imageCoverUrl?: string;
}

const { title, description, favicon, imageCoverUrl } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t(`${description}`)} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon ?? '/favicon.png'} />
		<meta name="generator" content={Astro.generator} />
		<title>{t(`${title}`)}</title>
		<HeadHrefLangs />
	</head>
	<body>
		<Navbar {imageCoverUrl} />
		<slot />

		<style is:global>
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					#da62c4 30%,
					white 60%
				);

				--lastGray: #a8a8c8;
				--lastBlack: #262638;

				font-family: 'Nunito Sans Variable', sans-serif;
			}

			* {
				@apply transition-all;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			span,
			img {
				pointer-events: none;
				user-select: none;
			}

			html,
			body {
				width: 100%;
				min-width: 100%;
				min-height: 100vh;
				height: auto;
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ebdaca38;
			}
		</style>
	</body>
</html>
